@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color: #f0f0f0;
  --background: #050505;
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f0f0f0;
    --background: #050505;
  }
}

body {
  color: var(--color);
  background-color: var(--background);
  box-sizing: border-box;
}

main {
  margin: auto;
}